/* src/styles/custom.css */
.border-gradient {
  border: double 4px transparent;
  border-radius: 8px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(to right, #f59e0b, #6b7280);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}